*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/*!!!!!!! Shared Style */

.btn{
  color: white;
  background-color: #FD6E0A;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 18px 35px 19px 36px ;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

header{
  background: url("/images/developer.png"),url("/images/header_bg.png"), #fff8f3;
  background-position: 23px 38px, bottom right;
  background-repeat: no-repeat;
  padding-top: 51px;
}

nav{
  width: 76%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo h2{
  font-size: 45px;
  font-weight: 800 ;
}

nav .logo h2 span{
  color: #FD6E0A;
}

nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 51px;
}

nav ul a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

#banner{
  margin: 33px 38px 0px 230px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner_content{
  max-width: 585px;
}

#banner .banner_content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner_content h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner_content p{
  color: #757575;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
}

.banner_image img{
  max-width: 585px;
  vertical-align: middle ;
}

#about, #skill,#resume{
  padding-top: 130px;
}

#about .about_container{
  width: 76%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 131px 156px;
  background-color: #FFF8F3;
  border-radius: 10px;
  text-align: center;
}


#about .about_container .about_section h2, .section_header h2{
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

#about .about_container .about_section p, .section_header p{
  color: #757575;
  line-height: 30px;
  font-size: 18px;
  margin-bottom:30px ;
}

#about .about_info{
  display: flex;
  justify-content: space-around;
}

#about .about_info .info_card p{
  color: #757575;
  font-size: 20px;
  line-height: 30px;
}

#about .info_card h4{
  color: #474747;
  font-size: 20px;
}

.skill_container{
  width: 76%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.skill_container .skill_box{
  display: flex;
  gap: 24px;
  margin-top: 50px;
  text-align: left;
}

.skill_container .skill_box .skill_card{
  max-width: 267px;
  padding: 24px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.233);
  border-radius: 5px;
}

.skill_box .skill_card img{
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}

.skill_box .skill_card h3{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  color: #181818;
}

.skill_box .skill_card p{
  font-size: 16px;
  color: #757575;
}

.section_heading{
  text-align: center;
  margin-bottom: 130px;
}

.resume_container{
  width: 76%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 28px;
}

.education h2,.experience h2{
 font-weight: bold;
 font-size: 30px;
 color: #474747 ;
 margin-bottom: 30px;
}

.education,.experience{
  max-width: 511px;
}

.education h3,.experience h3{
  font-weight: bold;
  color: #474747;
  font-size: 25px;
  margin-bottom: 10px;
}

.education .uni ,.experience .uni{
  font-size: 20px;
  color:#757575 ;
  margin-bottom: 20px;
}

.education p ,.experience p{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 30px;
}

hr{
  margin-bottom: 30px;
}